# Use pnpm as the package manager
package-manager=pnpm

# Set the registry to the default npm registry
registry=https://registry.npmjs.org/

# Use the latest version of TypeScript
typescript=latest

# Use the latest version of Next.js
next=latest

# Specifies the public-hoist-pattern for the npm package registry.
# This pattern specifies which packages should be hoisted to the root level of the node_modules directory.
# In this case, all packages from the "@nextui-org" scope will be hoisted.
# FILEPATH: /home/meta/Documents/Aris_Project/berufsvernetzen-frontend-npm/.npmrc
public-hoist-pattern[]=*@nextui-org/*